.container {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
}
.App {
  background-color: white;
  text-align: center;
}
